.uss-icons li{
	float: left;
}
.uss-icons a{
    box-shadow: none !important;
    padding-right: 10px;
    text-decoration: none;
}
.uss-icons a:hover{
	box-shadow: none;
}
.uss-icons{
    overflow: auto;
    list-style: none;
}
.social_side_links {
	position: fixed;
  top: 30%;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}

.social_side_links li a {display: block;}
.social_side_links > li{
	padding: 5px 0 5px 10px;
}