#uss_icons label,
#uss_post_types label,
#sizes_group label,
#icons_placement_cb label{
	margin-right: 10px;
}
.column {
    width: 300px;
    float: left;
}
.portlet {
    margin: 0 1em 1em 0;
}
.portlet-header {
    margin: 0.3em;
    padding-bottom: 4px;
    padding-left: 0.2em;
}
.portlet-header .ui-icon {
    float: right;
}
.portlet-content {
    padding: 0.4em;
}
.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 50px !important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}
/*.icons-demo-container{
    display: none;
}*/
.icons-demo i{
	display: none;
}
.loading-img{
	display: none;
}
.div-response{
	display: none;
}

#uss_form .div-response > p{
      border: 1px solid rgb(0, 128, 0);
    color: rgb(0, 128, 0);
    font-size: 16px;
    padding: 10px;
}